.question {
    @include flexCenter(column, center);
    margin: 0 4% 80px 4%;
    border: 2px dashed $opacity;
    border-bottom: none;
    border-left: none
}

.question-head {
    @include flexCenter(row, space-between);
    width: 100%;
    border-bottom: 2px dashed $opacity;
    border-left: 2px dashed $opacity;

    .question-head-text {
        display: block;
        padding: 0 4%;

        p {
            width: 100%;
        }

        button {
            background: transparent;
            color: $white;
            font-size: map-get($font-size, para);
            padding: 10px 13px;
            border: 2px dashed $opacity;
            border-radius: 7px;
            margin: 30px 0;
            margin-left: 3px;
            cursor: pointer;
        }

        .is-active {
            background: $brown;
            color: $black;
            border: 1px dashed;
        }

        @include big-tab {
            padding: 20px;
        }
    }

    img {
        width: 200px;

        @include big-tab {
            display: none;
        }
    }
}

.questions {
    @include flexCenter(row, center);
    flex-wrap: wrap;

    p {
        width: 100%;
    }

    .questions-ask {
        width: 50%;
        height: 230px;
        border-left: 2px dashed $opacity;
        border-bottom: 2px dashed $opacity;
        padding: 3% 3% 0;

        @include big-tab {
            width: 100%;
            height: 220px;
            padding: 7% 30px;
        }

        @include tab {
            height: 260px;
        }

        h3 {
            padding: 0 0 20px;
        }
    }
}